div#page.text-xs.mx-auto.bg-white.border-black.border-px.border.page
  div.bg-white.p-4.h-full.w-full
    p.inline.uppercase.font-sm.tracking-tighter.bg-white.ml-2.px-1 Woelss Byor Wisdom
    div.border.border-px.border-black.py-12.-mt-2.mb-12
      p.text-center "Try turning it off and on again."

    each item in [1,2,3,4,5,6,7,8,9]
      p.border-black.border-t.h-5
