doctype html
html
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title=title
    link(rel="stylesheet" href="/src/styles/main.css")
body.bg-slate-300
    h1=title
    include ../components/nav.pug
